
    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center"><img class="logo-img" src="./assets/images/logo.png" alt="logo"><span class="splash-description">Vui lòng nhập thông tin người dùng của bạn.</span></div>
            <div class="card-body">
                <form method="POST">
                    <p>Đừng lo lắng, chúng tôi sẽ gửi cho bạn một email để đặt lại mật khẩu của bạn.</p>
                    {{# if check }}

                        <h4 class="custom-control" id="errorsignup">{{check}}</h4>

                    {{/if}}

                    <div class="form-group">
                        <input class="form-control form-control-lg" oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);" type="email" name="email" required="" placeholder="Your Email" autocomplete="off">
                    </div>
                    <div class="form-group pt-1" >
                        <button class="btn btn-block btn-primary btn-xl" type="submit">Đặt lại mật khẩu</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <span>Không có tài khoản? <a href="/sign-up">Đăng ký</a></span>
            </div>
        </div>
    </div>

<script>
    function InvalidMsg(textbox) {
    
    if (textbox.value == '') {
        textbox.setCustomValidity('Yêu cầu địa chỉ email');
    }
    else if(textbox.validity.typeMismatch){
        textbox.setCustomValidity('Vui lòng điền địa chỉ email hợp lệ');
    }
    else {
        textbox.setCustomValidity('');
    }
    return true;
}

</script>