
    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center"><img class="logo-img" src="./assets/images/logo.png" alt="logo"><span class="splash-description">Vui lòng nhập thông tin người dùng của bạn.</span></div>
            <div class="card-body">
                <form method="POST">
                    {{# if errorupdatePass }}

                        <h4 class="custom-control" id="errorsignup">{{errorupdatePass}}</h4>

                    {{/if}}

                    <div class="form-group">
                        <input class="form-control form-control-lg" type="password" name="oldpassword" required="" placeholder="Mật khẩu hiện tại" autocomplete="off" oninvalid="this.setCustomValidity('Yêu cầu nhập a-z A-Z 0-9 và ký tự đặt biệt')" oninput="this.setCustomValidity('');" pattern="^(?=.{6,20}$)(?:[a-zA-Z\d]+(?:(?:\.|-|_)[a-zA-Z\d])*)+$">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="password" name="newpassword" required="" placeholder="Mật khẩu mới" autocomplete="off" oninvalid="this.setCustomValidity('Yêu cầu nhập a-z A-Z 0-9 và ký tự đặt biệt')" oninput="this.setCustomValidity('');" pattern="^(?=.{6,20}$)(?:[a-zA-Z\d]+(?:(?:\.|-|_)[a-zA-Z\d])*)+$">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="password" name="confirm" required="" placeholder="Nhập lại mật khẩu mới" autocomplete="off" oninvalid="this.setCustomValidity('Yêu cầu nhập a-z A-Z 0-9 và ký tự đặt biệt')" oninput="this.setCustomValidity('');" pattern="^(?=.{6,20}$)(?:[a-zA-Z\d]+(?:(?:\.|-|_)[a-zA-Z\d])*)+$">
                    </div>
                    <div class="form-group pt-1" >
                        <button class="btn btn-block btn-primary btn-xl" type="submit">Thay đổi mật khẩu</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <span>Không có tài khoản? <a href="/sign-up" class="text-primary">Đăng ký</a></span>
                <br>
                <span>Đã có tài khoản? <a href="/login" class="text-primary">Đăng nhập</a></span>
            </div>
        </div>
    </div>

